---
import { getCollection } from 'astro:content';
import ContactCTA from '../components/ContactCTA.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import PostPreview from '../components/PostPreview.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const posts = (await getCollection('posts')).sort(
	(a, b) => (a.data.sortOrder ?? 999) - (b.data.sortOrder ?? 999),
);
---

<BaseLayout
	title="Blog | Martin Kavík"
	description="Writing about Rust, WebAssembly, and product design experiments"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Blog"
				tagline="News, notes, and build logs."
				align="start"
			/>
			<Grid variant="offset">
				{
					posts.map((post) => (
						<li>
							<PostPreview post={post} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
