---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a href={href}><slot /></a>

<style>
	a {
		position: relative;
		display: flex;
		place-content: center;
		text-align: center;
		padding: 0.56em 2em;
		gap: 0.8em;
		color: var(--gray-0);
		text-decoration: none;
		line-height: 1.1;
		border-radius: 0.375rem;
		overflow: hidden;
		background: var(--gray-800);
		box-shadow: var(--shadow-md);
		white-space: nowrap;
	}

	a::before {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: 0.375rem;
		padding: 2px;
		background: var(--rainbow-gradient);
		background-size: 200% 100%;
		background-position: 60% 0;
		-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		pointer-events: none;
		opacity: 0.6;
		animation: rainbow-shift 8s linear infinite;
	}

	a:hover::before,
	a:focus::before {
		opacity: 1;
		animation: rainbow-shift 4s linear infinite;
	}

	a:hover,
	a:focus {
		background: var(--gray-700);
	}

	@media (min-width: 20em) {
		a {
			font-size: var(--text-lg);
		}
	}


	@media (min-width: 50em) {
		a {
			padding: 1.125rem 2.5rem;
			font-size: var(--text-xl);
		}
	}
</style>
