<div class="pill"><slot /></div>

<style>
	.pill {
		display: flex;
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		color: var(--gray-100);
		background-color: var(--gray-800);
		border-left: 3px solid #3a86ff;
		border-radius: 0;
		font-size: var(--text-md);
		line-height: 1.35;
		white-space: nowrap;
	}

	.pill:nth-child(2) {
		border-left-color: #7209b7;
	}

	.pill:nth-child(3) {
		border-left-color: #2a9d8f;
	}
</style>
