<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    {{> metas}}
    <title>Kavik.cz</title>
    {{> head_scripts}}
  </head>
  <body class="font-body text-18 bg-gray-1 overflow-x-hidden w-screen relative sm:text-26 lg:text-45">
    <section id="app" class="overflow-x-hidden w-screen relative">
      {{> loading_page}}
    </section>
  </body>
</html>
