<!DOCTYPE html>
<html lang="en">
  <head>
    {{> metas}}
    <title>Kavik.cz</title>
    {{> head_scripts}}
  </head>
  <body class="font-body text-18 bg-gray-1 overflow-x-hidden">
    <section id="app">
      {{> loading_page}}
    </section>
  </body>
</html>
